<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results for {{target_name}}</title>
    <link rel="stylesheet" href="../static/assets/styles57.css">
</head>
<body>
    <h1>Hey {{target_name}},</h1>
    <h2>I think you are {{gender}},</h2>
    <h3>And maybe {{age}} years old.</h3>

    <footer class="footer-style">
        <div class="footer-caption">
            <p >Made with ♥️ from Montreal, Canada</p>
            <p>&copy; Copyright {{current_year}}. Built by {{name}}</p>
        </div>
    </footer>
</body>
</html>